.header, .footer{
    width: 100%;
    height:10vh;
    background: black;
    margin: 10px 0;
}
.left-button a {
    padding: 10px;
    text-decoration: none;
    position: relative;
    top:25px;
}
.icon{
    color: white;
    font-size: 30px;
}
.login-button {
    float: right;
}
.login-button p {
    display: inline;
    color: white;
}
.login-button a {
    text-decoration: none;
}
.left-button a:hover {
    background: blue;
}
.content{
    height: 70vh;
}
.content-left {
    background: #CDCDCD;
    height: 100%;
    width: 20%;
    float: left;
}
.content-left a {
    text-decoration: none;
    display: block;
    position: relative;
    left: 30px;
    top : 30px
}
.content-mid {
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    margin-left: 50px;
}
.content-right {
    background: #CDCDCD;
    height: 100%;
    width: 20%;
    float: right;
    text-align: center;

}
.footer {
   text-align: center;
}
.footer p {
    padding: 10px;
    color: white;
    position: relative;
    top : 20px
}
.ads {
    height: 70px;
    width: 100px;
    border: 1px solid black;
    margin-top: 10px;
    position: relative;
    top: 20px;
    left: 100px;
}
.ads p {
    position: relative;
    top : 12px
}
.content {
    display: block;
    clear: both;
    content: "";
}

* {
    box-sizing: border-box;
}
@media screen and (max-width: 500px) {
    [class*= col-] {
        width: 100%;
    }
}


